
ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;
  background-color:#DDA0DD;
}

li {
  float: left;
}

li a {
  display: block;
  color:#4B0082;
  text-align: center;
  padding: 10px 39.5px;
  text-decoration: none;
  font-size: 25
 

}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:#FAEBD7;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F5FFFA;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color:#FFE4E1;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

}
footer {
  text-align: center;
  padding: 2px;
  background-color:#B0C4DE;
  color: black;
  font-size: 13px;
}
